.venv/
__pycache__/
logs/
.env
checkpoints/
data/
temp.py
temp.sh
temp/
debug/
target/
*config.json
Thumbs.db
# Generated experiment data
#storage/studies
#storage/studies/gtsrb_hn_Baseline_Multiple
#storage/studies/gtsrb_hn_EvalConfig_Multiple_CMetrics
#storage/studies/gtsrb_hn_EvalConfig_Multiple_CMetrics_Onto
#storage/studies/gtsrb_hn_EvalConfig_Multiple_CMetrics_Untrained
#storage/studies/gtsrb_hn_EvalConfig_Multiple_WithCLoss
#storage/studies/gtsrb_hn_NoiseSelection_Multiple
storage/studies/TargetCategoriesClassification
storage/studies/TargetSignClassifications
storage/studies/Xtrains
# JVM crash logs
hs_err_pid*.log
